<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<link rel="shortcut icon" href="/favicon.ico">
	<title>Summery - Sign in</title>

	<link rel="stylesheet" type="text/css" href="/css/default.css">
	<link rel="stylesheet" type="text/css" href="/js/bundles/user.login.css">
	<link rel="stylesheet" type="text/css" href="/css/sweetalert.css">

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
</head>
<body>
	<div id="main-content-wrapper"></div>
	<script id="props" type="application/json">
		<%- props %>
	</script>
	<script src="/js/bundles/common.bundle.js"></script>
	<script src="/js/bundles/user.login.bundle.js"></script>
</body>
</html>